<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./../static/css/common.css">
  <link rel="stylesheet" href="./../static/css/popup.css">
  <title>快捷登记插件</title>
</head>
<body>
  <div id="page">

    <h2 class="bb">
      <img class="vam" src="./../static/img/icon.png" alt="">
      <span class="vam">快捷登记插件</span>
    </h2>

    <div class="collection bb">
      <div class="collectImg collectionImg collection-item cp">
        <img class="vam" src="./../static/img/popup/img_1.png" alt="">
        <span class="vam">登记图片</span>
      </div>

      <div class="collectTxt collectionText collection-item cp">
        <img class="vam" src="./../static/img/popup/img_2.png" alt="">
        <span class="vam">登记文字</span>
      </div>
    </div>

    <div class="register bb c">
      <img class="register-portrait cp" src="./../static/img/popup/default_portrait.png" alt="">

      <div class="register-info">
        <div class="">
          <button class="loginBtn register-btn" type="button">登录</button>
          <button class="signinBtn register-btn" type="button">注册</button>
        </div>
        <p class="h">
          <span class="register-username ei cp">321321</span>
          <span class="logoutBtn">退出</span>
        </p>
      </div>
    </div>

    <div class="otherInfo">
      <p>免费版权登记插件</p>
      <p>点击访问：<span class="uyoo-link pluginHelp cp">帮助中心</span></p>
    </div>
  </div>
  
  <script src="./../static/js/jquery-1.8.3.js"></script>
  <script src="./../static/js/common.js"></script>
  <script src="./../static/js/popup.js"></script>
</body>
</html>